.ctrlbtn-powerOn {
    background-color: #65B741;
    color: #FAEED1;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    padding: 15px 32px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
}

.ctrlbtn-powerOn:hover {background-color: #73C250;}

.ctrlbtn-powerOn:active {
    background-color: #91D075;
    color: #200E3A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.ctrlbtn-powerOn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.ctrlbtn-powerOff {
    background-color: #BF3131;
    color: #FAEED1;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    padding: 15px 32px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
}

.ctrlbtn-powerOff:hover {background-color: #CE3C3C;}

.ctrlbtn-powerOff:active {
    background-color: #D96464;
    color: #200E3A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.ctrlbtn-powerOff:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


#btnHexaControllerTT {
    flex: 1 0 30%;
    order: 1;
    background-color: #DCF2F1;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

#btnHexaControllerTT:hover {background-color: #90D5D2;}

#btnHexaControllerTT:active {
    background-color: #48B7B2;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#btnHexaControllerTT:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


#btnHexaControllerhI {
    flex: 1 0 30%;
    order: 1;
    background-color: #65B741;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

#btnHexaControllerhI:hover {background-color: #73C250;}

#btnHexaControllerhI:active {
    background-color: #91D075;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#btnHexaControllerhI:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#btnHexaControllerhC {
    flex: 1 0 30%;
    order: 3;
    background-color: #DCF2F1;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

#btnHexaControllerhC:hover {background-color: #90D5D2;}

#btnHexaControllerhC:active {
    background-color: #CCCCCC;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#btnHexaControllerhC:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


#btnHexaControllerh0 {
    flex: 1 0 30%;
    order: 4;
    background-color: #F6E66F;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

#btnHexaControllerh0:hover {background-color: #F2DE40;}

#btnHexaControllerh0:active {
    background-color: #EED411;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#btnHexaControllerh0:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#btnHexaControllerh1 {
    flex: 1 0 30%;
    order: 5;
    background-color: #DCF2F1;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

#btnHexaControllerh1:hover {background-color: #90D5D2;}

#btnHexaControllerh1:active {
    background-color: #CCCCCC;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#btnHexaControllerh1:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#btnCommandPCAI, #btnCommandPCBI {
    flex: 1 0 30%;
    order: 1;
    background-color: #65B741;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

#btnCommandPCAI:hover, #btnCommandPCBI:hover {background-color: #73C250;}

#btnCommandPCAI:active, #btnCommandPCBI:active {
    background-color: #91D075;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#btnCommandPCAI:disabled, #btnCommandPCBI:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#btnCommandPCAC, #btnCommandPCBC {
    flex: 1 0 30%;
    order:3;
    background-color: #DCF2F1;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

#btnCommandPCAC:hover, #btnCommandPCBC:hover {background-color: #90D5D2;}

#btnCommandPCAC:active, #btnCommandPCBC:active {
    background-color: #CCCCCC;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#btnCommandPCAC:disabled, #btnCommandPCBC:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#btnCommandPCA1, #btnCommandPCB1 {
    flex: 1 0 30%;
    order: 2;
    background-color: #F6E66F;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

#btnCommandPCA1:hover, #btnCommandPCB1:hover {background-color: #F2DE40;}

#btnCommandPCA1:active, #btnCommandPCB1:active {
    background-color: #EED411;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#btnCommandPCA1:disabled, #btnCommandPCB1:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

