.container {
  max-width: 900px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
/* Main content area */
.container-form {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

/* Grid for form layout */
.form-grid {
  display: grid;
  gap: 10px;
}

/* Responsive grid for form fields */
@media (min-width: 900px) {
  .form-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns if width >= 900px */
  }
}

@media (max-width: 899px) {
  .form-grid {
    grid-template-columns: 1fr; /* 1 column if width < 900px */
  }
}

/* Row style for each label + input combo */
.form-row {
  display: flex;
  grid-template-columns: auto 1fr; /* Label + input */
  align-items: center;
  gap: 10px;
}

/* Button styling used as status indicator*/
.form-row button {
  padding: 5px 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.8; /* Default opacity for all lights */
  text-align: center;
  margin-right: 0px;
  margin-left: 10px;
  background-color: gray;

  outline: none;
  cursor: pointer;
  border: none;
  display: inline-flex;
}
.form-row button:focus {
  outline: none;
}
/* Styling for individual labels and input boxes */
.form-row label {
  font-weight: bold;
  color: #555;
}

.form-row input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

