body {
  min-width: 320px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 500px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered-container {
  width: 100%;
  max-width:1200px;
  min-width: 400px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f0f0f0; /* Optional styling */
  text-align: center; /* Center-align content within the div */
}
.horizontal{
    float: left;
    border: 2px ;
}

.horizontal  *{
    display: inline-block;
    margin-left: 10px;
}

.vertical {
    float: left;
    width: 100%;
    min-width: 100px;
    border: 2px;
}

.vertical  > *{
    display :block;
    width: 100%;
}

.light {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.8; /* Default opacity for all lights */
    text-align: center;
    margin-right: 0px;
    margin-left: 10px;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.gray {
    background-color: gray;
}

button.LED {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.8; /* Default opacity for all lights */
    text-align: center;
    margin-right: 0px;
    margin-left: 10px;
    background-color: gray;

    outline: none;
    cursor: pointer;
    border: none;
    display: inline-flex;
}
button.LED:focus {
    outline: none;
}
.teQAzf {
    margin: auto;
    max-width: 120vw;
    width: 640px;
}
