<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickable Buttons</title>

    <!-- StyleSheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboard_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboardbtn_style.css') }}">

    <!-- <\!-- Google Fonts -\-> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

    <!-- <\!-- Free Icons -\-> -->
    <script src="https://kit.fontawesome.com/45d652beb3.js" crossorigin="anonymous"></script>
    
  </head>
  <body>

    <header>
      <div id="page-heading">
	<h3>Multi-Module Teststand Dashboard</h3>	
      </div>
      <nav>
	<a href="{{url_for('index')}}" >Dashboard</a>
      </nav>
    </header>

    <!-- Web objects -->
    <div id="main">
      
      <div class="dropdown">
	<button class="dropbtn">
	  <i class="fa-solid fa-bars"></i>
	</button>
	<div class="dropdown-list">
	  <a href="#Controls">Controls</a>
	  <a href="#Data Display">Data Display</a>
	  <a href="#Guide">Guide</a>	    
	</div>
      </div>

      <!-- Lock button -->
      <div class="dropdown">
	<button id="lockallbtn" class="dropbtn" onclick="toggleLock(); disableOtherButtons(this)">
	  <i id="icon" class="fa-solid fa-lock"></i>
	  <span id="text">Lock Sc</span>
	</button>
      </div>

      <!-- New board ID setting -->
      <div class="dropdown">
	<button id="boardIDbtn" class="dropbtn" onclick="inputWindow()">
	  <i class="fa-solid fa-sliders"></i>
	  <span id="text">New Board</span>
	</button>
      </div>
      
      <div class="status-block">
	<div class="title">
	  <h1>Status Update!</h1>
	</div>
	<div id="statusbox">
	  
	</div>
      </div>


      <div class="control-block">

	<div class="title" style="border-bottom: 2px solid #ccc;">
	  <h1>Control panel</h1>
	</div>

	<div class="ctrlbox-title"><h3>Power</h3></div>
	<div class="ctrlbox-title"><h3>Hexa Controller</h3></div>
	<div class="ctrlbox-title"><h3>Command PC Connection</h3></div>
	<div class="ctrlbox-title"><h3>Command PC Connection2</h3></div>
	
	<div class="ctrlbox">
	  <!-- <button id="btnPowerSupply1" class="ctrlbtn-powerOn" onclick="showMessage('<i class=\'fa-solid fa-plug-circle-bolt\' style=\'color: #B80000\'></i> Power On'); DisableMe('btnPowerSupply1',['btnPowerSupply1','btnPowerSupply0']); fetchLog()">ON</button> -->

	  <button id="btnPowerSupply1" class="ctrlbtn-powerOn" onclick="showMessage('<i class=\'fa-solid fa-plug-circle-bolt\' style=\'color: #B80000\'></i> Power On'); fetchLog()">ON</button>
	  
	  <!-- <button id="btnPowerSupply0" class="ctrlbtn-powerOff" onclick="showMessage('<i class=\'fa-solid fa-plug-circle-xmark\' style=\'color: #B6BBC4\'></i> Power Off'); DisableMe('btnPowerSupply0',['btnPowerSupply1','btnPowerSupply0']); fetchLog()">OFF</button> -->

	   <button id="btnPowerSupply0" class="ctrlbtn-powerOff" onclick="showMessage('<i class=\'fa-solid fa-plug-circle-xmark\' style=\'color: #B6BBC4\'></i> Power Off'); fetchLog()">OFF</button>
	</div>

	<div class="ctrlbox">
	  <button id="btnHexaControllerTT" class="HexaController0" onclick="DisableMe('btnHexaControllerTT',['btnHexaControllerTT','btnHexaControllerh1'])">Test BTN</button>
	  <button id="btnHexaControllerhI" class="HexaController0" onclick="showMessage('<i class=\'fa-solid fa-circle-nodes\' style=\'color: #73C250\'></i> Connected'); DisableMyGroup('btnHexaControllerhI',['HexaController0','HexaController1'])">Connect</button>
	  <button id="btnHexaControllerh0" class="HexaController1" onclick="showMessage('<i class=\'fa-solid fa-land-mine-on\' style=\'color: #73C250\'></i> Activated'); DisableMe('btnHexaControllerh0',['btnHexaControllerh0','btnHexaControllerh1'])">Activate HexaController</button>
	  <button id="btnHexaControllerh1" class="HexaController1" onclick="showMessage('<i class=\'fa-solid fa-ban\' style=\'color: #B6BBC4\'></i> Diactivated'); DisableMe('btnHexaControllerh1',['btnHexaControllerh0','btnHexaControllerh1'])">Diactivate HexaController</button>
	  <button id="btnHexaControllerhC" class="HexaController1" onclick="showMessage('<i class=\'fa-solid fa-ban\' style=\'color: #B6BBC4\'></i> Disconnected'); DisableMyGroup('btnHexaControllerhC',['HexaController0','HexaController1'])">Disconnect</button>
	</div>


	<div class="ctrlbox">
	  <button id="btnCommandPCAI" class="CommandPCA0" onclick="showMessage('<i class=\'fa-solid fa-circle-nodes\' style=\'color: #73C250\'></i> Connected'); DisableMyGroup('btnCommandPCAI',['CommandPCA0','CommandPCA1'])">Connect</button>
	  <button id="btnCommandPCA1" class="CommandPCA1" onclick="showMessage('<i class=\'fa-solid fa-land-mine-on\' style=\'color: #73C250\'></i> Activated'); DisableMe('btnCommandPCA1',['btnCommandPCA1'])">Activate DAQ Client</button>
	  <button id="btnCommandPCAC" class="CommandPCA1" onclick="showMessage('<i class=\'fa-solid fa-ban\' style=\'color: #B6BBC4\'></i> Disconnected'); DisableMyGroup('btnCommandPCAC',['CommandPCA0','CommandPCA1'])">Disconnect</button>
	  
	</div>
	
	<div class="ctrlbox">
	  <button id="btnCommandPCBI" class="CommandPCB0" onclick="showMessage('<i class=\'fa-solid fa-circle-nodes\' style=\'color: #73C250\'></i> Connected'); DisableMyGroup('btnCommandPCBI',['CommandPCB0','CommandPCB1'])">Connect</button>
	  <button id="btnCommandPCB1" class="CommandPCB1" onclick="showMessage('<i class=\'fa-solid fa-land-mine-on\' style=\'color: #73C250\'></i> Taking Data'); DisableMe('btnCommandPCB1',['btnCommandPCB1'])">Take Data</button>
	  <button id="btnCommandPCBC" class="ctrlbtn-cmdPC-5" onclick="showMessage('<i class=\'fa-solid fa-ban\' style=\'color: #B6BBC4\'></i> Disconnected'); DisableMyGroup('btnCommandPCBC',['CommandPCB0','CommandPCB1'])">Disconnect</button>
	  
	</div>
      </div>

      <!-- <div class="ctrl-block"> -->
      <!-- 	<div class="title" style="border-bottom: 2px solid #ccc;"> -->
      <!-- 	  <h1>Control panel</h1> -->
      <!-- 	</div> -->
      <!-- </div> -->
      <!-- Action Log text box -->
      <div class="log-block">
	<textarea id="logbox" rows="5" cols="300" readonly>{{ log }}</textarea>
      </div>
      
    </div>
    
    <script>
      function send_cmd(btnID) {
	  fetch('/buttonClick_hub', {
              method: 'POST',
              headers: {
		  'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: new URLSearchParams({
		  'button_id': btnID,
              }),
	  })
              .then(response => response.json())
              .then(data => {
		  // Handle the response if needed
		  console.log(data);
		  //alert(data.status);
		  //showMessage(data.status);
		  showMessage2(data.indicator,data.message);
              })
              .catch(error => {
		  console.error('Error:', error);
              });
      }
      function DisableMe(clickedBUTTONid, connectedBUTTONs) {
	  // Disable the clicked button
	  document.getElementById(clickedBUTTONid).disabled = true;

	  // Enable all other buttons
	  connectedBUTTONs.forEach(function(buttonId) {
              if (buttonId !== clickedBUTTONid) {
		  document.getElementById(buttonId).disabled = false;
              }
	  });
	  send_cmd(clickedBUTTONid);

	  // Add your additional logic here based on the clicked button
	  console.log(clickedBUTTONid + " was clicked!");
      }

      function DisableMyGroup(clickedBUTTONid, correlatedGROUPs) { //asdf
	  var classes = document.getElementById(clickedBUTTONid).classList;

	  classes.forEach(function(my_group) {
              correlatedGROUPs.forEach(function(corr_group) {
		  // Enable all buttons in group2
		  var group2Buttons = document.getElementsByClassName(corr_group);
		  if (corr_group !== my_group) {
                      for (var i = 0; i < group2Buttons.length; i++) {
			  group2Buttons[i].disabled = false;
                      }
		  } else {
                      for (var i = 0; i < group2Buttons.length; i++) {
			  group2Buttons[i].disabled = true;
                      }
		  }
              });
	  });
	  send_cmd(clickedBUTTONid);
      }
      // function showMessage(mesg) {
      // 	  document.getElementById('messageBox').innerText = mesg;
      // }
      // function showMessage2(theID,mesg) {
      // 	  document.getElementById('mesg'+theID).innerText = mesg;
      // }

      function showMessage(htmlCode) {
          // Get the reference to the message box
          var statusbox = document.getElementById('statusbox');

          // Display the message in the message box
          statusbox.innerHTML = htmlCode;
      }

      function toggleLock() {
	  var button = document.getElementById('lockallbtn');
	  var iconElement = document.getElementById('icon');
	  var textElement = document.getElementById('text');

	  // Toggle between different Font Awesome icons
          if (iconElement.classList.contains('fa-lock')) {
              iconElement.classList.remove('fa-lock');
              iconElement.classList.add('fa-lock-open');
	      textElement.textContent = 'Unlock Sc';
          } else {
              iconElement.classList.remove('fa-lock-open');
              iconElement.classList.add('fa-lock');
	      textElement.textContent = 'Lock Sc';
          }
      }

      function disableOtherButtons(clickedButton) {
          // Get all buttons on the page
          var buttons = document.getElementsByTagName('button');

          // // Loop through each button and disable it if it's not the clicked button
          // for (var i = 0; i < buttons.length; i++) {
          //     if (buttons[i] !== clickedButton) {
          //         buttons[i].disabled = true;
          //     }
          // }
	  
	  // Toggle the disabled state of all buttons except the clicked one
            for (var i = 0; i < buttons.length; i++) {
                if (buttons[i] !== clickedButton) {
                    buttons[i].disabled = !buttons[i].disabled;
                }
            }
      }

      function enableButtons(clickedButton) {
          // Get all buttons on the page
          var buttons = document.getElementsByTagName('button');

          // Check if buttons are currently disabled
          var areButtonsDisabled = buttons[0].disabled;

          // Enable or disable buttons based on their current state
          for (var i = 0; i < buttons.length; i++) {
              buttons[i].disabled = !areButtonsDisabled;
          }
      }

      function fetchLog() {
          fetch('/fetch_logs')
              .then(response => response.text())
              .then(logs => {
		  // Get the current timestamp
		  var timestamp = new Date().toLocaleString();
                  // Get the textarea element
                  var logTextArea = document.getElementById('logbox');
                  
                  // Set fetched logs to the textarea
                  logTextArea.value += timestamp + " | " + logs + '\n';
                  
                  // Scroll textarea to the bottom
                  logTextArea.scrollTop = logTextArea.scrollHeight;
              })
              .catch(error => console.error('Error fetching logs:', error));
      }

      function inputWindow() {
	  // Open a new window with a prompt for user input
          var userInput = prompt("Please enter the new board ID:");

	  // If the user input is not null (i.e., they clicked 'OK'), display a greeting
          if (userInput !== null) {
	      // Get the reference to the message box
              var statusbox = document.getElementById('statusbox');

              // Display the message in the message box
              statusbox.innerHTML = "Board " + userInput + " ready for test!";
	      // alert("Hello, " + userInput + "! You entered: " + userInput);
          }

      }
      
    </script>

  </body>
</html>
