<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Socket Button</title>
</head>
<body>
    <h1>Activities</h1>
    <form action="/all_init" method="get">
        <button type="Init">On</button>
    </form>
    <form action="/all_configure" method="get">
        <button type="configure">On</button>
    </form>
    <form action="/all_start" method="get">
        <button type="start">On</button>
    </form>
    <form action="/all_stop" method="get">
        <button type="stop">On</button>
    </form>
    <form action="/all_destroy" method="get">
        <button type="destroy">On</button>
    </form>
    
    <h1>Power Supply</h1>
    <form action="/send_message" method="get">
        <button type="submit">On</button>
    </form>
    <form action="/off_PS" method="get">
        <button type="submit">Off</button>
    </form>
    <h1>Test stand</h1>
    <form action="/take_data" method="get">
        <button type="submit">Take data</button>
    </form>



<script>
    function handleButton1Click() {
        // Disable Button 1
        document.getElementById('button1').disabled = true;

        // Enable Button 2
        document.getElementById('button2').disabled = false;
    }

    function handleButton2Click() {
        // Enable Button 1
        document.getElementById('button1').disabled = false;

        // Disable Button 2
        document.getElementById('button2').disabled = true;
    }
</script>
</body>
</html>

