<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Socket Button</title>
</head>
<body>
    <h1>Flask Socket Button</h1>
    <form action="/send_message" method="get">
        <button type="submit">Activate Power Supply</button>
    </form>
    <h1>Off power supply title</h1>
    <form action="/off_PS" method="get">
        <button type="submit">Inactivate Power Supply</button>
    </form>
</body>
</html>

