<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clickable Buttons</title>

        <!-- StyleSheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboard_style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboardbtn_style.css') }}">

        <!-- <\!-- Google Fonts -\-> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

        <!-- <\!-- Free Icons -\-> -->
        <script src="https://kit.fontawesome.com/45d652beb3.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.slim.js" crossorigin="anonymous"></script>


    </head>
    <body>

        <header>
            <div id="page-heading">
                <h3>Multi-Module Teststand Dashboard</h3>	
            </div>
            <nav>
                <a href="{{url_for('index')}}" >Dashboard</a>
            </nav>
        </header>

        <!-- Web objects -->
        <div id="main">

            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="dropdown-list">
                    <a href="#Controls">Controls</a>
                    <a href="#Data Display">Data Display</a>
                    <a href="#Guide">Guide</a>	    
                </div>
            </div>

            <!-- Lock button -->
            <div class="dropdown">
                <button id="lockallbtn" class="dropbtn" onclick="toggleLock(); disableOtherButtons(this)">
                    <i id="icon" class="fa-solid fa-lock"></i>
                    <span id="text">Lock Sc</span>
                </button>
            </div>

            <div class="status-block">
                <div class="title">
                    <h1>Status Update!</h1>
                </div>
                <div id="statusbox">

                </div>
            </div>


            <div class="control-block">

                <div class="title" style="border-bottom: 2px solid #ccc;">
                    <h1>Control panel</h1>
                </div>

                <div class="ctrlbox-title"><h3>Power</h3></div>
                <div class="ctrlbox-title"><h3>Hexa Controller</h3></div>
                <div class="ctrlbox-title"><h3>Command PC Connection</h3></div>
                <div class="ctrlbox-title"><h3>Command PC Connection2</h3></div>

                <div class="ctrlbox">
                    <button id="btnPowerSupply1" class="ctrlbtn-powerOn" onclick="showMessage('<i class=\'fa-solid fa-plug-circle-bolt\' style=\'color: #B80000\'></i> Power On'); DisableMe('btnPowerSupply1',['btnPowerSupply1','btnPowerSupply0'])">ON</button>
                    <button id="btnPowerSupply0" class="ctrlbtn-powerOff" onclick="showMessage('<i class=\'fa-solid fa-plug-circle-xmark\' style=\'color: #B6BBC4\'></i> Power Off'); DisableMe('btnPowerSupply0',['btnPowerSupply1','btnPowerSupply0'])">OFF</button>
                </div>

                <div class="ctrlbox">
                    <button id="btnHexaControllerTT" class="HexaController0" onclick="DisableMe('btnHexaControllerTT',['btnHexaControllerTT','btnHexaControllerh1'])">Inititalize</button>
                    <button id="btnHexaControllerhI" class="HexaController0" onclick="showMessage('<i class=\'fa-solid fa-circle-nodes\' style=\'color: #73C250\'></i> Connected'); DisableMyGroup('btnHexaControllerhI',['HexaController0','HexaController1'])">Connect</button>
                    <button id="btnHexaControllerh0" class="HexaController1" onclick="showMessage('<i class=\'fa-solid fa-land-mine-on\' style=\'color: #73C250\'></i> Activated'); DisableMe('btnHexaControllerh0',['btnHexaControllerh0','btnHexaControllerh1'])">Run</button>
                    <button id="btnHexaControllerh1" class="HexaController1" onclick="showMessage('<i class=\'fa-solid fa-ban\' style=\'color: #B6BBC4\'></i> Diactivated'); DisableMe('btnHexaControllerh1',['btnHexaControllerh0','btnHexaControllerh1'])">Configure</button>
                    <button id="btnHexaControllerhC" class="HexaController1" onclick="showMessage('<i class=\'fa-solid fa-ban\' style=\'color: #B6BBC4\'></i> Disconnected'); DisableMyGroup('btnHexaControllerhC',['HexaController0','HexaController1'])">Distroy</button>
                </div>


                <div class="ctrlbox">
                    <button id="buttonINITIALIZE"class="CommandPCA0" onclick="send_cmd2(this.id);">INITIALIZE</button>
                    <button id="buttonCONNECT"   class="CommandPCA0" onclick="send_cmd2(this.id);">CONNECT</button>
                    <input type='submit' form='available_arguments' value='CONFIGURE' class="CommandPCA0" />
                    <button id="buttonCONFIGURE" class="CommandPCA0" onclick="send_cmd2(this.id);" type="submit">CONFIGURE</button>
                    <button id="buttonTEST"      class="CommandPCA0" onclick="send_cmd2(this.id);">TEST</button>
                    <button id="buttonRUN"       class="CommandPCA0" onclick="send_cmd2(this.id);">RUN</button>
                    <button id="buttonDESTROY"   class="CommandPCA0" onclick="send_cmd2(this.id);">DESTROY</button>

                </div>

                <div class="ctrlbox">
                    <button id="btnCommandPCBI" class="CommandPCB0" onclick="showMessage('<i class=\'fa-solid fa-circle-nodes\' style=\'color: #73C250\'></i> Connected'); DisableMyGroup('btnCommandPCBI',['CommandPCB0','CommandPCB1'])">Connect</button>
                    <button id="btnCommandPCB1" class="CommandPCB1" onclick="showMessage('<i class=\'fa-solid fa-land-mine-on\' style=\'color: #73C250\'></i> Taking Data'); DisableMe('btnCommandPCB1',['btnCommandPCB1'])">Take Data</button>
                    <button id="btnCommandPCBC" class="ctrlbtn-cmdPC-5" onclick="showMessage('<i class=\'fa-solid fa-ban\' style=\'color: #B6BBC4\'></i> Disconnected'); DisableMyGroup('btnCommandPCBC',['CommandPCB0','CommandPCB1'])">Disconnect</button>

                </div>

            </div>
            <form method="POST" action="/buttonCONFIGURE" id="available_arguments">
                {% for subunitNAME, data in allARGs.items() %}
                    {% for key, value in data.items() %}
                        {% if value is iterable and value is not string %}
                            <label for="{{ key }}">{{ key }}</label>
                            <select id="{{ subunitNAME+':'+key }}" name="{{ subunitNAME+':'+key }}">
                            {% for option in value %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                            </select>
                        {% else %}
                            <label for="{{ key }}">{{ key }}</label>
                            <input type="text" id="{{ subunitNAME+':'+key }}" class="{{ 'args:'+subunitNAME }}" name="{{ subunitNAME+':'+key }}" value="{{ value }}">
                            <br>
                        {% endif %}
                    {% endfor %}
                        <br>
                {% endfor %}
                <button type="submit">Submit</button>
            </form>
            <br>
            <div id="logbox">
                Web initialized
            </div>
        </div>

        <script>
            var socket = io();
            socket.on('activate_message_update', function() { console.log('activating message update bkg'); } );
            socket.on('bkgRunJobs', function(jsonifyDATA) { console.log("[RunJob] "+jsonifyDATA.indicator+": "+jsonifyDATA.theSTAT); showLatestLogs(jsonifyDATA); } );


            function send_cmd2(btnID) {
                            fetch('/'+btnID, {
                                            method: 'POST',
                                            headers: { 'Content-Type': 'application/x-www-form-urlencoded', },
                                            body: new URLSearchParams({ 'button_id': btnID, })
                                        })
                                .then(response => response.json())
                                //.then(data => { console.log(data); updateMessageBox(data.indicator,data.message); })
                                .then(jsonifyDATA => { console.log(jsonifyDATA); updateMessageBox(jsonifyDATA); })
                                .catch(error => { console.error('Error:', error); });
                        }

            function send_cmd(btnID) {
                            fetch('/buttonClick_hub', {
                                            method: 'POST',
                                            headers: {
                                                            'Content-Type': 'application/x-www-form-urlencoded',
                                                        },
                                            body: new URLSearchParams({
                                                            'button_id': btnID,
                                                        }),
                                        })
                                .then(response => response.json())
                                .then(data => {
                                                console.log(data);
                                                updateMessageBox(data);
                                            })
                                .catch(error => {
                                                console.error('Error:', error);
                                            });
                        }
            function DisableMe(clickedBUTTONid, connectedBUTTONs) {
                            // Disable the clicked button
                            document.getElementById(clickedBUTTONid).disabled = true;

                            // Enable all other buttons
                            connectedBUTTONs.forEach(function(buttonId) {
                                            if (buttonId !== clickedBUTTONid) {
                                                            document.getElementById(buttonId).disabled = false;
                                                        }
                                        });
                            send_cmd(clickedBUTTONid);

                            // Add your additional logic here based on the clicked button
                            console.log(clickedBUTTONid + " was clicked!");
                        }

            function DisableMyGroup(clickedBUTTONid, correlatedGROUPs) { //asdf
                            var classes = document.getElementById(clickedBUTTONid).classList;

                            classes.forEach(function(my_group) {
                                            correlatedGROUPs.forEach(function(corr_group) {
                                                            // Enable all buttons in group2
                                                            var group2Buttons = document.getElementsByClassName(corr_group);
                                                            if (corr_group !== my_group) {
                                                                        for (var i = 0; i < group2Buttons.length; i++) { group2Buttons[i].disabled = false; }
                                                                        } else { for (var i = 0; i < group2Buttons.length; i++) { group2Buttons[i].disabled = true; } }
                                                        });
                                        });
                            send_cmd(clickedBUTTONid);
                        }
            function updateMessageBox(jsonifyDATA) {
                            $('#statusbox').text(jsonifyDATA.message);
                            showLatestLogs(jsonifyDATA);
                        }
            function showLatestLogs(jsonifyDATA) {
                            var statSpan = $('<span/>').text(jsonifyDATA.theSTAT).css('color', getStyleFromIndicator(jsonifyDATA.indicator));
                            var mesgDiv = $('<div/>').text(jsonifyDATA.message);
                            var timerSpan = $('<span/>').text('('+jsonifyDATA.timestamp+')').css('float', 'right');
                        
                            $('#logbox').prepend( statSpan.add(mesgDiv).add(timerSpan).after('<br>').after('<br>') );
                        }

            function createStyledString(btnID, newSTAT, newMESG) {
                            var styledSpan = $("<span/>").text(newSTAT).css("color", getStyleFromIndicator(btnID));
                            var styledString = styledSpan.prop("outerHTML") + ": " + newMESG + "<br>";
                            return styledString;
                        }
            function getStyleFromIndicator(jsonifyINDICATOR) {
                            if ( jsonifyINDICATOR === "button1" ) { return "#B80000"; }
                            if ( jsonifyINDICATOR === "button2" ) { return "#B6BBC4"; }
                            if ( jsonifyINDICATOR === "button3" ) { return "#73C250"; }

                            if ( jsonifyINDICATOR === "SSHTEST1") { return "#73C250"; }
                            if ( jsonifyINDICATOR === "SSHTEST2") { return "#B80000"; }
                            if ( jsonifyINDICATOR === "FLASK") { return "#B6BBC4"; }
                            return "";
                        }

            function showMessage(htmlCode) {
                            // Get the reference to the message box
                            var statusbox = document.getElementById('statusbox');

                            // Display the message in the message box
                            statusbox.innerHTML = htmlCode;
                        }

            function toggleLock() {
                            var button = document.getElementById('lockallbtn');
                            var iconElement = document.getElementById('icon');
                            var textElement = document.getElementById('text');

                            // Toggle between different Font Awesome icons
                            if (iconElement.classList.contains('fa-lock')) {
                                            iconElement.classList.remove('fa-lock');
                                            iconElement.classList.add('fa-lock-open');
                                            textElement.textContent = 'Unlock Sc';
                                        } else {
                                                        iconElement.classList.remove('fa-lock-open');
                                                        iconElement.classList.add('fa-lock');
                                                        textElement.textContent = 'Lock Sc';
                                                    }
                        }

            function disableOtherButtons(clickedButton) {
                            // Get all buttons on the page
                            var buttons = document.getElementsByTagName('button');

                            // Toggle the disabled state of all buttons except the clicked one
                            for (var i = 0; i < buttons.length; i++) {
                                            if (buttons[i] !== clickedButton) {
                                                            buttons[i].disabled = !buttons[i].disabled;
                                                        }
                                        }
                        }

            function enableButtons(clickedButton) {
                            // Get all buttons on the page
                            var buttons = document.getElementsByTagName('button');

                            // Check if buttons are currently disabled
                            var areButtonsDisabled = buttons[0].disabled;

                            // Enable or disable buttons based on their current state
                            for (var i = 0; i < buttons.length; i++) {
                                            buttons[i].disabled = !areButtonsDisabled;
                                        }
                        }
        </script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<script type="text/javascript">
    	    $(document).ready(function() {
                            // not to pop new window
    	        // Intercept form submission
    	        $('#available_arguments').submit(function(event) {
    	            // Prevent default form submission
    	            event.preventDefault();

    	            // Serialize form data
    	            var formData = $(this).serialize();

    	            // Send form data asynchronously via AJAX
    	            $.ajax({
    	                type: 'POST',
    	                url: '/buttonCONFIGURE',
    	                data: formData,
    	                success: function(response) {
    	                    // Handle success response
    	                    console.log('Form submitted successfully');
    	                    //alert(response); // Show response message
    	                },
    	                error: function(xhr, status, error) {
    	                    // Handle error response
    	                    console.error('Error:', error);
    	                    alert('An error occurred while submitting the form');
    	                }
    	            });
    	        });
    	    });
    	</script>

    </body>
</html>
