<body id="i3bn">
  <section id="ij10l" class="flex-sect">
    <div id="it8wd" class="container-width">
      <div id="ihtsc" class="flex-title">testing region of task1
      </div>
      <div id="idewg" class="gjs-row">
        <div id="i1sqf" class="gjs-cell">
          <button type="button" id="initBtn" class="ctrlbtn" onclick="initJob()"         >Initialize</button>
          <button type="button" id="confBtn" class="ctrlbtn"                     disabled>Configure</button>
          <button type="button" id="execBtn" class="ctrlbtn" onclick="execJob()" disabled>Run</button>
          <button type="button" id="stopBtn" class="ctrlbtn" onclick="stopJob()" disabled>Stop</button>
          <button type="button" id="exitBtn" class="ctrlbtn" onclick="exitJob()" disabled>Destroy</button>
        </div>
        <div id="i5xn8" class="gjs-cell">
          <div id="statusText">This is my status area
          </div>
        </div>
      </div>
      <form method="POST" id="pymodule_configurations" action="/task1/submit">
        <meta name="csrf_token" type="hidden" content="{{ csrf_token() }}"/>
        <div id="id37y" class="cards">
          <div id="iql44" class="gjs-row">
            <div id="ig3nn" class="gjs-cell form-row">
              <button type="button" class="statusModuleID" id="LED1L"></button>
              <label id="i5tyo" class="labelModuleID">1L</label>
              <input type="text" placeholder="Module ID" name="moduleID1L" class="inputModuleID" id="moduleID1L"/>
            </div>
            <div class="gjs-cell form-row" id="ie7gk">
              <button type="button" class="statusModuleID" id="LED1C"></button>
              <label class="labelModuleID" id="inp9d">1C</label>
              <input type="text" placeholder="Module ID" name="moduleID1C" class="inputModuleID" id="moduleID1C"/>
            </div>
            <div class="gjs-cell form-row" id="ipxwp">
              <button type="button" class="statusModuleID" id="LED1R"></button>
              <label class="labelModuleID" id="irvqv">1R</label>
              <input type="text" placeholder="Module ID" name="moduleID1R" class="inputModuleID" id="moduleID1R"/>
            </div>
          </div>
          <div class="gjs-row" id="ibmw1k">
            <div class="gjs-cell form-row" id="im3fp">
              <button type="button" class="statusModuleID" id="LED2L"></button>
              <label class="labelModuleID" id="ip16b">2L</label>
              <input type="text" placeholder="Module ID" name="moduleID2L" class="inputModuleID" id="moduleID2L"/>
            </div>
            <div class="gjs-cell form-row" id="itton">
              <button type="button" class="statusModuleID" id="LED2C"></button>
              <label class="labelModuleID" id="i33rs">2C</label>
              <input type="text" placeholder="Module ID" name="moduleID2L" class="inputModuleID" id="moduleID2C"/>
            </div>
            <div class="gjs-cell form-row" id="ivnxle">
              <button type="button" class="statusModuleID" id="LED2R"></button>
              <label class="labelModuleID" id="i4an5f">2R</label>
              <input type="text" placeholder="Module ID" name="moduleID2R" class="inputModuleID" id="moduleID2R"/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script>
    async function updateStatus() {
      const response = await fetch('/task1/status');
      const data = await response.json();

      const initBtn = document.getElementById('initBtn');
      const confBtn = document.getElementById('confBtn');
      const execBtn = document.getElementById('execBtn');
      const stopBtn = document.getElementById('stopBtn');
      const exitBtn = document.getElementById('exitBtn');

      // accept command only if jobmode is empty or task1
      if (data.jobmode !== "" ) {
        if (data.jobmode !== "task1") {
          if ( data.status !== "startup" && data.status !== "destroyed" ) {
            initBtn.disabled = true ;
            confBtn.disabled = true ;
            execBtn.disabled = true ;
            stopBtn.disabled = true ;
            exitBtn.disabled = true ;
            document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = true ; });
            document.getElementById('statusText').innerText = "server is running other task";
            return; // disable all buttons and returned
      } } }
      document.getElementById('statusText').innerText = data.status;

      if (data.status === 'startup' ) {
        initBtn.disabled = false;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = true ;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'initializing' ) {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'initialized' ) {
        initBtn.disabled = true ;
        confBtn.disabled = false;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'configured' ) {
        initBtn.disabled = true ;
        confBtn.disabled = false;
        execBtn.disabled = false;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'running' ) {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = false;
        exitBtn.disabled = false;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = true; });
      }
      if (data.status === 'idle' ) {
        initBtn.disabled = true ;
        confBtn.disabled = false;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'stopping' ) {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'stopped' ) {
        initBtn.disabled = true ;
        confBtn.disabled = false;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'destroying' ) {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = true ;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'destroyed' ) {
        initBtn.disabled = false;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = true ;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
      if (data.status === 'error') {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
        document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => { input.disabled = false; });
      }
    }

    async function execjob(varname) {
      const csrfToken = document.querySelector('meta[name="csrf_token"]').getAttribute('content');
      await fetch('/task1/'+varname, {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken  // <-- add this header
          },
          body: JSON.stringify({})
      });
      updateStatus();
    }



    async function initJob() { execjob('init'); }
    async function execJob() { execjob('run'); }
    async function stopJob() { execjob('stop'); }
    async function exitJob() { execjob('destroy'); }

    setInterval(updateStatus, 1000);  // Poll every second
    window.onload = updateStatus;
  </script>

  <script>
    document.getElementById('confBtn').addEventListener('click', function() {
    document.getElementById('pymodule_configurations').dispatchEvent(new Event('submit', { cancelable: true }));
});
document.getElementById('pymodule_configurations').addEventListener('submit', function(e) {
    e.preventDefault();  // Prevent normal form submission

    const formData = new FormData(this);
    const csrfToken = document.querySelector('meta[name="csrf_token"]').getAttribute('content');
    const obj = {};
  console.info(formData);
  formData.forEach((value, key) => {
    obj[key] = value;
});

    fetch('/task1/submit', {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken  // <-- add this header
          },
          body: JSON.stringify(obj)
      })
    .then(response => {
        if (!response.ok) return response.json().then(err => Promise.reject(err));
        return response.json();
    })
    .then(data => {
        if (data.status === 'success') {
            alert(data.message);   // or update some div with the message
            // Disable inputs
            //document.querySelectorAll('#configForm input').forEach(input => input.disabled = true);
            //document.querySelector('#configForm button[type="submit"]').disabled = true;
        } else {
            // Show validation errors if any
            alert('Error: ' + JSON.stringify(data.errors));
        }
    })
    .catch(error => {
        alert('Submission failed: ' + JSON.stringify(error));
    });
});
</script>
<script>
  // input restriction. All input field in class inputMOduleID from form #pymodule_configurations allowed only digit and capital character and dash character. Length<20
  document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => {
    input.addEventListener('input', function(e) {
      this.value = this.value.toUpperCase().replace(/[^A-Z0-9\-]/g, '').slice(0, 20);
    });
  });
//   document.getElementById('moduleID1L').addEventListener('input', function(e) {
//   this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '').slice(0, 20);
// });
</script>
</body>
<style>* {
  box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  *{
    box-sizing:border-box;
  }
  body{
    margin:0;
  }
  .container-width{
    width:90%;
    max-width:1150px;
    margin:0 auto;
  }
  .flex-sect{
    background-color:#fafafa;
    padding:100px 0;
    font-family:Helvetica, serif;
  }
  .flex-title{
    margin-bottom:15px;
    font-size:2em;
    text-align:center;
    font-weight:700;
    color:#555;
    padding:5px;
  }
  .cards{
    padding:20px 0;
    display:flex;
    justify-content:space-around;
    flex-flow:wrap;
  }
  #it8wd{
    width:1000px;
  }
  .gjs-row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #i1sqf{
    flex-basis:70%;
    height:40px;
    min-height:40px;
  }
  #i5xn8{
    flex-basis:30%;
    height:40px;
    min-height:40px;
  }
  #idewg{
    height:60px;
  }
  .ctrlbtn{
    width:18%;
    height:30px;
    margin:5px 5px 5px 5px;
  }
  #statusText{
    padding:10px 10px 10px 10px;
  }
  #iql44{
    max-width:100%;
    width:100%;
    padding:10px 20px 10px 20px;
  }
  #iphef{
    margin:10px 10px 0px 0px;
    align-items:flex-start;
    justify-content:flex-start;
    display:block;
    label-parent-flex:0;
  }
  .labelModuleID{
    float:none;
    margin:0 5px 0px 5px;
    padding:5px 0px 0px 0px;
  }

  .form-row{
    min-height:auto;
    height:40px;
    width:200px;
    flex-basis:250px;
  }
  .statusModuleID{
    width:10px;
    height:10px;
    padding:0px 0px 0px 0px;
    min-height:0px;
    border-radius: 5px 5px 0px 0px;
    margin:0 10px 0 0;
  }
  #ig3nn{
    width:250px;
    padding:5px 5px 5px 5px;
    justify-content:center;
    display:flex;
  }
  #i0d8z{
    margin:10px 10px 0px 0px;
    align-items:flex-start;
    justify-content:flex-start;
    display:block;
    label-parent-flex:0;
  }

  #ipxwp{
    width:250px;
    padding:5px 5px 5px 5px;
    justify-content:center;
    display:flex;
  }
  #i8iiq{
    margin:10px 10px 0px 0px;
    align-items:flex-start;
    justify-content:flex-start;
    display:block;
    label-parent-flex:0;
  }
  #ie7gk{
    width:250px;
    padding:5px 5px 5px 5px;
    justify-content:center;
    display:flex;
  }
  #i5lu9{
    margin:10px 10px 0px 0px;
    align-items:flex-start;
    justify-content:flex-start;
    display:block;
    label-parent-flex:0;
  }
  #im3fp{
    width:250px;
    padding:5px 5px 5px 5px;
    justify-content:center;
    display:flex;
  }
  #ik107{
    margin:10px 10px 0px 0px;
    align-items:flex-start;
    justify-content:flex-start;
    display:block;
    label-parent-flex:0;
  }
  #itton{
    width:250px;
    padding:5px 5px 5px 5px;
    justify-content:center;
    display:flex;
  }
  #ixev96{
    margin:10px 10px 0px 0px;
    align-items:flex-start;
    justify-content:flex-start;
    display:block;
    label-parent-flex:0;
  }
  .inputModuleID{
    margin:5px 5px 5px 10px;
    width:150px;
  }
  #ivnxle{
    width:250px;
    padding:5px 5px 5px 5px;
    justify-content:center;
    display:flex;
  }
  #ibmw1k{
    max-width:100%;
    width:100%;
    padding:10px 20px 10px 20px;
  }
  #ij10l{
    padding:10px 0px 10px 0px;
    align-self:center;
    display:flex;
    height:300px;
    min-height:300px;
  }
  @media (max-width: 768px){
    .gjs-row{
      flex-wrap:wrap;
    }
  }
</style>
