<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickable Buttons</title>

    <!-- StyleSheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboard_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboardbtn_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">

    <!-- <\!-- Google Fonts -\-> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

    <!-- <\!-- Free Icons -\-> -->
    <script src="https://kit.fontawesome.com/45d652beb3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/function_buttonStatusMap.js') }}"></script>
    <script src="{{ url_for('static',filename='js/function_trash.js') }}"></script>
    <script src="{{ url_for('static',filename='js/function_LEDStatusMap.js') }}"></script>
    <script> const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port); </script>


</head>
<body>

    <header>
        <div id="page-heading">
            <h3>Multi-Module Teststand Dashboard</h3>	
        </div>
        <nav>
            <a href="{{url_for('index')}}" >Dashboard</a>
        </nav>
    </header>

    <!-- Web objects -->
    <div id="main">
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="dropdown-list">
                <a href="#Controls">Controls</a>
                <a href="#Data Display">Data Display</a>
                <a href="#Guide">Guide</a>	    
            </div>
        </div>

        <!-- Lock button -->
        <div class="dropdown">
            <button id="lockallbtn" class="dropbtn" onclick="toggleLock(); disableOtherButtons(this)">
                <i id="icon" class="fa-solid fa-lock"></i>
                <span id="text">Lock Sc</span>
            </button>
        </div>

        <!-- New board ID setting -->
        <div class="dropdown">
            <button id="boardIDbtn" class="dropbtn" onclick="inputWindow()">
                <i class="fa-solid fa-sliders"></i>
                <span id="text">New Board</span>
            </button>
        </div>

        <div class="status-block">
            <div id="box_ctrlbtns">
                <div class="vertical">
                    <div class="horizontal">
                        <button id="btnINIT" class="ctrlbtn" >Initialize</button>
                        <input  id="btnCONF" type="submit" form="pymodule_configurations" value="CONFIGURE" class="ctrlbtn">
                        <button id="btnSTOP" class="ctrlbtn" >Stop</button>
                    </div>
                    <div class="horizontal">
                        <button id="btnCONN" class="ctrlbtn" >Connect</button>
                        <button id="btnEXEC" class="ctrlbtn" >Start</button>
                        <button id="btnEXIT" class="ctrlbtn" >Destroy</button>
                    </div>
                </div>
            </div>
            <div id="statusbox">
                <p> Here is the log message </p>
            </div>
        </div>

        


        <div class="inputIDblock">
            <form method="POST" action="/btnCONF" id="pymodule_configurations">
                <fieldset>
                    <legend>Module ID Settings</legend>
                    <input id="csrf_token" name="csrf_token" type="hidden" value="IjEzZjgzZWM1YzY3NjQ4MTAyZTQxYmU0ZGQ0YmNjZjI4ZTI2YzA4OTQi.ZyIAgA.lpaaH4O2WJhuNRL89BSQULcJjwg">

                    <div class="vertical">
                        <div class="horizontal" id="inputIDrow1">
                            <div>
                                <button type="button" class="LED" id="LED1L" onclick="console.log('clicked')"></button>
                                <p>1L</p>
                                <input class="form-check-input" name="moduleID1L" type="text" placeholder="module ID">
                            </div>
                            <div>
                                <button type="button" class="LED" id="LED1C" onclick="alert('clicked')"></button>
                                <p>1C</p>
                                <input class="form-check-input" name="moduleID1C" type="text" placeholder="module ID">
                            </div>
                            <div>
                                <button type="button" class="LED" id="grayLight" onclick="console.log('clicked')"></button>
                                <p>1R</p>
                                <input class="form-check-input" name="moduleID1R" type="text" placeholder="module ID">
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
                    


        <!-- <div class="ctrl-block"> -->
        <!-- 	<div class="title" style="border-bottom: 2px solid #ccc;"> -->
        <!-- 	  <h1>Control panel</h1> -->
        <!-- 	</div> -->
        <!-- </div> -->
        <!-- Action Log text box -->
        <div class="log-block">
            <textarea id="logbox" rows="5" cols="300" readonly>{{ log }}</textarea>
        </div>

    </div>


    <script src="{{ url_for('static',filename='js/action_control_buttons.js') }}"></script>
<script>
document.getElementById("LED1L").addEventListener("click", function() {

    // Redirect to the route that serves the log file content
    //window.location.href = "/show_logpage?btnID=test";
    window.open("/show_logpage?btnID=test", "_blank");
});
</script>
</body>
</html>
