<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask Background Job</title>
  <style>
    .field_error { color: red; }
  </style>
</head>
<body>
  <h1>Background Job Controller</h1>
  <p>Status: <span id="statusText">idle</span></p>

  <div class="control-button-block">
    <button id="initBtn" class="ctrlbtn" onclick="initJob()"         >Init</button>
    <button id="confBtn" class="ctrlbtn"                     disabled>Configure</button>
    <button id="execBtn" class="ctrlbtn" onclick="execJob()" disabled>Run</button>
    <button id="stopBtn" class="ctrlbtn" onclick="stopJob()" disabled>Stop</button>
    <button id="exitBtn" class="ctrlbtn" onclick="exitJob()" disabled>Destroy<button>
  </div>


  <div class='main-content'>
    <form method="POST" action="/task2/submit" id="pymodule_configurations">
      <meta name="csrf_token" type="hidden" content="{{ csrf_token() }}"/>
          <!-- <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/> --!>
      <fieldset>
        <legend>Module ID Settings</legend>
        <div class="form-grid">
          <div class="form-row">
            <button type="button" id="LED1L"></button>
            <label>1L</label>
            <input type="text" placeholder="module ID" name="moduleID1L" id="moduleID1L" class="inputModuleID">
          </div>
          <div class="form-row">
            <button type="button" id="LED1C"></button>
            <label>1C</label>
            <input type="text" placeholder="module ID" name="moduleID1C" id="moduleID1C" class="inputModuleID">
          </div>
          <div class="form-row">
            <button type="button" id="LED1R"></button>
            <label>1R</label>
            <input type="text" placeholder="module ID" name="moduleID1R" id="moduleID1R" class="inputModuleID">
          </div>
        </div>

          <div class="form-row">
            <button type="button" class="LED" id="LED2L"></button>
            <p>2L</p>
            <input  id="moduleID2L" name="moduleID2L" type="text" placeholder="module ID" class="inputModuleID">
          </div>
          <div class="form-row">
            <button type="button" class="LED" id="LED2C"></button>
            <p>2C</p>
            <input  id="moduleID2C" name="moduleID2C" type="text" placeholder="module ID" class="inputModuleID">
          </div>
          <div class="form-row">
            <button type="button" class="LED" id="grayLight"></button>
            <p>2R</p>
            <input  id="moduleID2R" name="moduleID2R" type="text" placeholder="module ID" class="inputModuleID">
          </div>
        </div>
      </fieldset>
    </form>
  </div>






  <script>
    async function updateStatus() {
      const response = await fetch('/task2/status');
      const data = await response.json();
      document.getElementById('statusText').innerText = data.status;

      const initBtn = document.getElementById('initBtn');
      const confBtn = document.getElementById('confBtn');
      const execBtn = document.getElementById('execBtn');
      const stopBtn = document.getElementById('stopBtn');
      const exitBtn = document.getElementById('exitBtn');

      if (data.status === 'startup' ) {
        initBtn.disabled = false;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = true ;
      }
      if (data.status === 'initializing' ) {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
      }
      if (data.status === 'initialized' ) {
        initBtn.disabled = true ;
        confBtn.disabled = false;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
      }
      if (data.status === 'configured' ) {
        initBtn.disabled = true ;
        confBtn.disabled = false;
        execBtn.disabled = false;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
      }
      if (data.status === 'running' ) {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = false;
        exitBtn.disabled = false;
      }
      if (data.status === 'idle' ) {
        initBtn.disabled = true ;
        confBtn.disabled = false;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
      }
      if (data.status === 'stopping' ) {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
      }
      if (data.status === 'stopped' ) {
        initBtn.disabled = true ;
        confBtn.disabled = false;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
      }
      if (data.status === 'destroying' ) {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = true ;
      }
      if (data.status === 'destroyed' ) {
        initBtn.disabled = false;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = true ;
      }
      if (data.status === 'error') {
        initBtn.disabled = true ;
        confBtn.disabled = true ;
        execBtn.disabled = true ;
        stopBtn.disabled = true ;
        exitBtn.disabled = false;
      }
    }

    async function execjob(varname) {
      const csrfToken = document.querySelector('meta[name="csrf_token"]').getAttribute('content');
      await fetch('/task2/'+varname, {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken  // <-- add this header
          },
          body: JSON.stringify({})
      });
      updateStatus();
    }



    async function initJob() { execjob('init'); }
    async function execJob() { execjob('run'); }
    async function stopJob() { execjob('stop'); }
    async function exitJob() { execjob('destroy'); }

    setInterval(updateStatus, 1000);  // Poll every second
    window.onload = updateStatus;
  </script>

  <script>
    document.getElementById('confBtn').addEventListener('click', function() {
    document.getElementById('pymodule_configurations').dispatchEvent(new Event('submit', { cancelable: true }));
});
document.getElementById('pymodule_configurations').addEventListener('submit', function(e) {
    e.preventDefault();  // Prevent normal form submission

    const formData = new FormData(this);
    const csrfToken = document.querySelector('meta[name="csrf_token"]').getAttribute('content');
    const obj = {};
  console.info(formData);
  formData.forEach((value, key) => {
    obj[key] = value;
});

    fetch('/task2/submit', {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken  // <-- add this header
          },
          body: JSON.stringify(obj)
      })
    .then(response => {
        if (!response.ok) return response.json().then(err => Promise.reject(err));
        return response.json();
    })
    .then(data => {
        if (data.status === 'success') {
            alert(data.message);   // or update some div with the message
            // Disable inputs
            //document.querySelectorAll('#configForm input').forEach(input => input.disabled = true);
            //document.querySelector('#configForm button[type="submit"]').disabled = true;
        } else {
            // Show validation errors if any
            alert('Error: ' + JSON.stringify(data.errors));
        }
    })
    .catch(error => {
        alert('Submission failed: ' + JSON.stringify(error));
    });
});
</script>
<script>
  // input restriction. All input field in class inputMOduleID from form #pymodule_configurations allowed only digit and capital character. Length<20
  document.querySelectorAll('#pymodule_configurations input.inputModuleID').forEach(input => {
    input.addEventListener('input', function(e) {
      this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '').slice(0, 20);
    });
  });
//   document.getElementById('moduleID1L').addEventListener('input', function(e) {
//   this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '').slice(0, 20);
// });
</script>

</body>
</html>
