* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #E5E1DA;
    padding: 5px;
    height: 5vh;
}


nav {
    flex:1;
    text-align: right;
}

nav a {
    color: #3468C0;
    display: inline-block;
    padding: 20px 16px;
    text-decoration: none;
}


#page-heading {
    flex:1;
    font-size: 1.5rem;
}

.dropbtn {
    background-color: #FFFFFF;
    color: #3468C0;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-list a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: 80vh;
    padding: 10px;
}

.status-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-item: center;
    flex-direction: row;
    border: 5px dotted #7E7E7E;
    width: 100%;
    height: 300px;
    padding: 10px;
}

#statusbox {
    flex: 1;
    text-align: center;
    padding: 10px;
    height: 100px;
    border: 1px solid #ccc;
    font-size:2rem;
}

.title {
    flex: 1 0 100%;
    text-align: center;
    padding: 10px;
}

.control-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    /* align-items: baseline; */
    border: 5px dotted #7E7E7E;
    width: 100%;
    height: 500px;
    padding: 10px;
    
}

.ctrlbox-title {
    flex: 1 0 25%;
    text-align: center;
    padding: 10px;
}


.ctrlbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    flex:1 0 25%;
    height: 250px;
    text-align: center;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    padding: 5px;
}


footer {
    position: fixed;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
    height: 5vh;
    font-size: 0.8rem;
}

