.ctrlbtn-powerOn {
    background-color: #65B741;
    color: #FAEED1;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    padding: 15px 32px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
}

.ctrlbtn-powerOn:hover {background-color: #73C250;}

.ctrlbtn-powerOn:active {
    background-color: #91D075;
    color: #200E3A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.ctrlbtn-powerOn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.ctrlbtn-powerOff {
    background-color: #BF3131;
    color: #FAEED1;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    padding: 15px 32px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
}

.ctrlbtn-powerOff:hover {background-color: #CE3C3C;}

.ctrlbtn-powerOff:active {
    background-color: #D96464;
    color: #200E3A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.ctrlbtn-powerOff:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.ctrlbtn-hexa-1 {
    flex: 1 0 30%;
    background-color: #DCF2F1;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

.ctrlbtn-hexa-1:hover {background-color: #90D5D2;}

.ctrlbtn-hexa-1:active {
    background-color: #48B7B2;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.ctrlbtn-hexa-1:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.ctrlbtn-hexa-2 {
    flex: 1 0 30%;
    background-color: #65B741;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

.ctrlbtn-hexa-2:hover {background-color: #73C250;}

.ctrlbtn-hexa-2:active {
    background-color: #91D075;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.ctrlbtn-hexa-2:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.ctrlbtn-hexa-3 {
    flex: 1 0 30%;
    background-color: #DCF2F1;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

.ctrlbtn-hexa-3:hover {background-color: #90D5D2;}

.ctrlbtn-hexa-3:active {
    background-color: #CCCCCC;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.ctrlbtn-hexa-3:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.ctrlbtn-hexa-4 {
    flex: 1 0 30%;
    background-color: #F6E66F;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

.ctrlbtn-hexa-4:hover {background-color: #F2DE40;}

.ctrlbtn-hexa-4:active {
    background-color: #EED411;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.ctrlbtn-hexa-4:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.ctrlbtn-hexa-5 {
    flex: 1 0 30%;
    background-color: #DCF2F1;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

.ctrlbtn-hexa-5:hover {background-color: #90D5D2;}

.ctrlbtn-hexa-5:active {
    background-color: #CCCCCC;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.ctrlbtn-hexa-5:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.ctrlbtn-cmdPC-1, .ctrlbtn-cmdPC-4 {
    flex: 1 0 30%;
    order: 1;
    background-color: #65B741;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

.ctrlbtn-cmdPC-1:hover, .ctrlbtn-cmdPC-4:hover {background-color: #73C250;}

.ctrlbtn-cmdPC-1:active, .ctrlbtn-cmdPC-4:active {
    background-color: #91D075;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.ctrlbtn-cmdPC-1:disabled, ctrlbtn-cmdPC-4:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.ctrlbtn-cmdPC-2, .ctrlbtn-cmdPC-5 {
    flex: 1 0 30%;
    order: 3;
    background-color: #DCF2F1;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

.ctrlbtn-cmdPC-2:hover, .ctrlbtn-cmdPC-5:hover {background-color: #90D5D2;}

.ctrlbtn-cmdPC-2:active, .ctrlbtn-cmdPC-5:active {
    background-color: #CCCCCC;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.ctrlbtn-cmdPC-2:disabled, ctrlbtn-cmdPC-5:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.ctrlbtn-cmdPC-3, .ctrlbtn-cmdPC-6 {
    flex: 1 0 30%;
    order: 2;
    background-color: #F6E66F;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    
}

.ctrlbtn-cmdPC-3:hover, .ctrlbtn-cmdPC-6:hover {background-color: #F2DE40;}

.ctrlbtn-cmdPC-3:active, .ctrlbtn-cmdPC-6:active {
    background-color: #EED411;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.ctrlbtn-cmdPC-3:disabled, ctrlbtn-cmdPC-6:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

